// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// DataTables 選取行 (selected) 背景色
$dt-selected-bg: #ffeb3b; // 亮黃色
$dt-selected-text: #000; // 黑色文字


