/* BREADCRUMB START */
#product__breadcrumb {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  .product_breadcrumb_overlay {
    background: #4d5457c9;
    padding: 100px 0px;
  }
  #product__breadcrumb h4 {
    text-transform: capitalize;
    color: #fff;
    font-size: 35px;
    font-weight: 500;
  }
  
  #product__breadcrumb ul {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  
  
  #product__breadcrumb ol li:last-child a {
    margin: 0;
    color: #54b3fd;
  }
  
  #product__breadcrumb ol li:last-child a::after {
    display: none;
  }

  #product__breadcrumb ol li a {
    color: #fff;
  }

  #product__breadcrumb ol li {
    color: #54b3fd;
  }
  
  /* BREADCRUMB END */

  /* PRODUCT DETAILS START */
  #product__product_details {
    padding-top: 70px;
  }

  /* 產品細節外框線 */
  .product__details_bg {
    background: #fff;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    padding: 20px;
    border-radius: 5px;
  }

  /* 產品細節名稱文字樣式 */
  .product__pro_details_text .title {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    display: block;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
  }

  /* 庫存量樣式 */
  .product__stock_area {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
  }
  
  /* 分類標籤樣式 */
  .category-label {
    background-color: #00adb9;
      color: white;
      border-radius: 5px;
      padding: 8px 16px;
      font-size: 16px;
      display: inline-block;
  }
  


  .product__stock_area .in_stock {
    background: #ff9f00;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 2px;
    margin-right: 5px;
  }

  /* 商品詳細資料樣式 */
  .product__pro_details_text .description {
    margin: 10px 0px 15px 0px;
    font-size: 15px;
  }

  /* 相關商品樣式文字 */
  .Related_products{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    display: block;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
    margin: 24px;
  }


  /* 滑動顯示 */
    .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px;
      scrollbar-width: none;
      margin: 0 50px;
    }
  
  .scroll-content {
      display: flex;
      gap: 15px;
      transition: transform 0.3s ease-in-out;
      flex-wrap: wrap;
  }
  
  .scroll-item {
      display: inline-block;
      width: 100%;
      text-align: center;
  }
  
  /* Carousel 的樣式調整 */
  .carousel-inner {
      overflow: hidden; 
  }
  .carousel-control-prev,
  .carousel-control-next {
      width: auto; 
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
  }
  
  